@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: text-Neue;
   src: url("/fonts/font.ttf");
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

ul,
ol,
li {
   list-style: none;
}

body {
   background-color: #0b0414;
   font-family: text-Neue;
}

.custom-container {
   @apply max-w-[1728px] w-full m-auto px-28 max-2xl:px-20 max-xl:px-10 max-lg:px-6;
}

/* ==================== HEADER ==================== */

.header {
   @apply custom-container m-auto py-11 max-xl:py-9;
}

.header-ul {
   @apply flex items-center justify-between;
}

.header-logo {
   @apply w-[58px] h-[54px];
}

.header-text {
   @apply text-2xl max-lg:text-xl max-md:text-base max-sm:text-sm text-[#ffffff80];
}

/* ================================================= */

.inp {
   background: linear-gradient(
      69deg,
      rgba(255, 255, 255, 0.2) 10.42%,
      rgba(255, 255, 255, 0.04) 77.11%
   );
}
